@import "tailwindcss";


@theme {
  --color-background: #353535;
  --color-primary: #f0d6bb;
  --color-primary-dark: #d1b18c;
  --color-secondary: #9DBF8E;
  --color-secondary-dark: #7A9A6C;
  --color-accent: #FF9F43;
  --color-accent-dark: #e68a2c;
  --color-surface: #424242;

  --font-sans: "Poppins", sans-serif;
  --font-heading: "Oswald", serif;
}

