@import "tailwindcss";


@theme {
  --color-background: #f6f1eb; 
  --color-primary: #353535; /* Dark Grey */
  --color-secondary: #D9C2A3;  /* Warm Beige  */
  --color-accent: #FF9F43; /* Orange */

  --color-blue: #5A8CAA;
  --color-green: #8BAA91;


  --font-sans: "Poppins", sans-serif;
  --font-heading: "Oswald", serif;
}